/*
  Logo, Link Colour         #93deff : 147, 222, 255 azure
  Background Colour         #f7f7f7 eggshell
  Heading, bold, em Colour  #323643 dark slate
  Text Colour               #606470 medium gray
  https://www.csscolorpalettes.com/palettes/1437
*/


@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Titillium+Web&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  /* border : 1px solid black; */
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #f7f7f7;
}

main {
  margin: auto;
  width: auto;
  padding: 16px;
  text-align: center;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

main > p {
  text-align: center;
}

main > img {
  margin: auto;
  width: 50%;
  padding : 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #606470;
  font-family: 'Russo One', sans-serif;
}

p {
  color: #323643;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color : #93deff
}